{% extends 'index.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="view-post">
                <h1 class="jobtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h1>
                <p class="location it">Location: <span>Bangladesh</span></p>
                <p class="status it">Type: <span>Full time</span></p>
                <p class="budget it">Salary: <span>100$</span></p>
                <div class="desc">
                    <p class="details">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                        incidunt iste? Totam sunt, in placeat animi reiciendis officiis
                        maiores nostrum saepe iste adipisci voluptate libero ipsa
                        deserunt. Ab, veritatis id.Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Modi, incidunt iste? Totam sunt, in placeat
                        animi reiciendis officiis maiores nostrum saepe iste adipisci
                        voluptate libero ipsa deserunt. Ab, veritatis id.Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Modi, incidunt iste? Totam
                        sunt, in placeat animi reiciendis officiis maiores nostrum saepe
                        iste adipisci voluptate libero ipsa deserunt. Ab, veritatis
                        id.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                        incidunt iste? Totam sunt, in placeat animi reiciendis officiis
                        maiores nostrum saepe iste adipisci voluptate libero ipsa
                        deserunt. Ab, veritatis id.Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Modi, incidunt iste? Totam sunt, in placeat
                        animi reiciendis officiis maiores nostrum saepe iste adipisci
                        voluptate libero ipsa deserunt. Ab, veritatis id.Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Modi, incidunt iste? Totam
                        sunt, in placeat animi reiciendis officiis maiores nostrum saepe
                        iste adipisci voluptate libero ipsa deserunt. Ab, veritatis id.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}